<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--    <filter>
        <filter-name>RequiredLecturerCheckingFilter</filter-name>
        <filter-class>controller.auth.RequiredLecturerCheckingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequiredLecturerCheckingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>ViewCourseByLecturerController</servlet-name>
        <servlet-class>controller.lecture.ViewCourseByLecturerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeExamController</servlet-name>
        <servlet-class>controller.lecture.TakeExamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentGrade</servlet-name>
        <servlet-class>controller.student.ViewStudentGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServerlet</servlet-name>
        <servlet-class>controller.auth.LogoutServerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServerlet</servlet-name>
        <servlet-class>controller.admin.AdminDashboardServerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentScoreServerlet</servlet-name>
        <servlet-class>controller.admin.StudentScoreServerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>controller.admin.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentScoresServlet</servlet-name>
        <servlet-class>controller.admin.ViewStudentScoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectStudentServerlet</servlet-name>
        <servlet-class>controller.admin.SelectStudentServerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AverageScoreController</servlet-name>
        <servlet-class>controller.admin.AverageScoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeLectureServerlet</servlet-name>
        <servlet-class>controller.lecture.HomeLectureServerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeStudentServerlet</servlet-name>
        <servlet-class>controller.student.HomeStudentServerlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCourseByLecturerController</servlet-name>
        <url-pattern>/exam/lecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeExamController</servlet-name>
        <url-pattern>/exam/take</url-pattern>
    </servlet-mapping>
    <!--    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>-->
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentGrade</servlet-name>
        <url-pattern>/view/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServerlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentScoresServlet</servlet-name>
        <url-pattern>/admin/viewStudentScores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectStudentServerlet</servlet-name>
        <url-pattern>/admin/selectStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeLectureServerlet</servlet-name>
        <url-pattern>/lecturer/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeStudentServerlet</servlet-name>
        <url-pattern>/student/home</url-pattern>
    </servlet-mapping>
</web-app>
